[package]
edition = "2021"
name = "tzf-rs"
version = "0.1.4"
license-file = "LICENSE"
description = "Fast convert longitude,latitude to timezone name."
homepage = "http://github.com/ringsaturn/tzf-rs"
documentation = "https://docs.rs/tzf-rs"
repository = "http://github.com/ringsaturn/tzf-rs"
readme = "README.md"
keywords = ["timezone", "geo"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1"
bytes = "1"
prost = "0.11"
lazy_static = "1.4.0"
pprof = { version = "0.11", features = ["flamegraph"] }
clap = { version = "4.0.29", features = ["color", "help", "usage", "derive"]}
rand = "0.8.5"

# tzf-rel = { git =  "http://github.com/ringsaturn/tzf-rel", tag = "v0.0.2022-f5"}
tzf-rel = "0.0.2022-g"

# geometry-rs = { git =  "http://github.com/ringsaturn/geometry-rs", tag = "v0.1.0"}
geometry-rs = "0.1.2"

# cities-json = { git = "https://github.com/ringsaturn/go-cities.json", rev = "38a818ded6dcd1759e4633a36502b693c8b14858" }
cities-json = "0.1.1"

[dev-dependencies]
criterion = {version = "0.4", features = ["html_reports"]}
lazy_static = "1.4.0"

[[bench]]
name = "finders"
harness = false

[build-dependencies]
prost-build = "0.11"

[profile.bench]
lto = true
