[package]
description = "Fast convert longitude,latitude to timezone name."
documentation = "https://docs.rs/tzf-rs"
edition = "2021"
homepage = "https://github.com/ringsaturn/tzf-rs"
keywords = ["timezone", "geo"]
license = "MIT"
name = "tzf-rs"
readme = "README.md"
repository = "https://github.com/ringsaturn/tzf-rs"
version = "0.4.5"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1"
bytes = "1"
clap = {version = "4", features = ["color", "help", "usage", "derive"], optional = true}
prost = "0.12"
rand = "0.8.5"

# tzf-rel = { git =  "https://github.com/ringsaturn/tzf-rel", tag = "v0.0.2022-f5"}
tzf-rel = "0.0.2023-d"

# geometry-rs = { git =  "https://github.com/ringsaturn/geometry-rs", tag = "v0.1.0"}
geometry-rs = "0.2.1"

[dev-dependencies]
lazy_static = "1.4.0"

criterion = {version = "0.5", features = ["html_reports"]}

# cities-json = { git = "https://github.com/ringsaturn/go-cities.json", rev = "38a818ded6dcd1759e4633a36502b693c8b14858" }
cities-json = "0.5.1"

[features]
default = ["clap"]

[[bin]]
name = "tzf"
required-features = ["clap"]
doc = false

[[bench]]
harness = false
name = "finders"

[build-dependencies]
prost-build = "0.12.1"

[profile.bench]
lto = true

[target.'cfg(not(target_env = "msvc"))'.dev-dependencies]
pprof = {version = "0.13", features = ["flamegraph"]}
