name: Rust

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

permissions:
  contents: write
  deployments: write
  actions: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Collect Workflow Telemetry
        uses: runforesight/workflow-telemetry-action@v1
        with:
          comment_on_pr: false
      - uses: actions/checkout@v3
      - name: Setup | Rust
        uses: ATiltedTree/setup-rust@v1
        with:
          rust-version: nightly
      - name: Cache
        uses: Swatinem/rust-cache@v2
      - name: Build
        run: cargo build --verbose
      - name: Run tests
        run: cargo test --verbose
      - name: Run benches
        run: cargo bench
      # - name: Continuous Benchmark
      #   uses: benchmark-action/github-action-benchmark@v1.15.0
      #   if: ${{ github.ref == 'refs/heads/main' }}
      #   with:
      #     name: Go Benchmark
      #     tool: "cargo"
      #     output-file-path: output.txt
      #     github-token: ${{ secrets.CI_TOKEN }}
      #     gh-repository: "github.com/ringsaturn/tzf-rs"
      #     auto-push: true
      #     comment-on-alert: true
      #     fail-on-alert: false
      #     benchmark-data-dir-path: "docs/"
