name: Rust

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

permissions:
  contents: write
  deployments: write
  actions: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Collect Workflow Telemetry
        uses: runforesight/workflow-telemetry-action@v1
        with:
          comment_on_pr: false
      - uses: actions/checkout@v3
      - name: Setup | Rust
        uses: ATiltedTree/setup-rust@v1
        with:
          rust-version: nightly
      - name: Cache
        uses: Swatinem/rust-cache@v2
      - name: Build
        run: cargo build --verbose
      - name: Run tests
        run: cargo test --verbose
        env:
          CARGO_INCREMENTAL: "0"
          RUSTFLAGS: "-Zprofile -Ccodegen-units=1 -Cinline-threshold=0 -Clink-dead-code -Coverflow-checks=off -Cpanic=abort -Zpanic_abort_tests"
          RUSTDOCFLAGS: "-Zprofile -Ccodegen-units=1 -Cinline-threshold=0 -Clink-dead-code -Coverflow-checks=off -Cpanic=abort -Zpanic_abort_tests"
      - name: rust-grcov
        uses: actions-rs/grcov@v0.1.5
      - name: Codecov
        uses: codecov/codecov-action@v3.1.1
        with:
          # Repository upload token - get it from codecov.io. Required only for private repositories
          # token: # optional
          # Specify whether the Codecov output should be verbose
          verbose: true
          fail_ci_if_error: true

      - name: Run benches
        run: cargo bench
      # - name: Continuous Benchmark
      #   uses: benchmark-action/github-action-benchmark@v1.15.0
      #   if: ${{ github.ref == 'refs/heads/main' }}
      #   with:
      #     name: Go Benchmark
      #     tool: "cargo"
      #     output-file-path: output.txt
      #     github-token: ${{ secrets.CI_TOKEN }}
      #     gh-repository: "github.com/ringsaturn/tzf-rs"
      #     auto-push: true
      #     comment-on-alert: true
      #     fail-on-alert: false
      #     benchmark-data-dir-path: "docs/"
